---
import { baseUrl } from '@/utils/functions';
import Hero from './Hero.astro';

const arrayCards = [
  {
    title: 'Liquid Login Page',
    repo: 'https://github.com/20essentials/liquid-login-page',
    web: 'https://stackblitz.com/github/20essentials/liquid-login-page?file=views%2Flayout.pug',
    localImage: '/assets/liquid-login-page.avif',
    id: '001'
  },
  {
    title: 'Login and Signup',
    repo: 'https://github.com/20essentials/jwt-login-and-signup',
    web: 'https://stackblitz.com/github/20essentials/jwt-login-and-signup?file=client%2FCustomPopover.js',
    localImage: '/assets/jwt-login-and-signup.avif',
    id: '002'
  },
  {
    title: 'Login Bubble',
    repo: 'https://github.com/20essentials/project-000-963',
    web: 'https://stackblitz.com/github/20essentials/project-000-963?file=index.js',
    localImage: '/assets/n963.avif',
    id: '003'
  },
  {
    title: 'Signup Beth Gradient',
    repo: 'https://github.com/20essentials/project-000-972',
    web: 'https://stackblitz.com/github/20essentials/project-000-972?file=index.js',
    localImage: '/assets/n972.avif',
    id: '004'
  },
  {
    title: 'Login Sinapsis',
    repo: 'https://github.com/20essentials/project-000-973',
    web: 'https://stackblitz.com/github/20essentials/project-000-973?file=index.js',
    localImage: '/assets/n973.avif',
    id: '005'
  },
  {
    title: 'Signup ReKord',
    repo: 'https://github.com/20essentials/project-1002',
    web: 'https://stackblitz.com/github/20essentials/project-1002?file=index.js',
    localImage: '/assets/project-1002.avif',
    id: '006'
  },
  {
    title: 'Login Fogal',
    repo: 'https://github.com/20essentials/project-1003',
    web: 'https://stackblitz.com/github/20essentials/project-1003?file=client%2Fscript.js',
    localImage: '/assets/project-1003.avif',
    id: '007'
  },
  {
    title: 'SignUp Terraform',
    repo: 'https://github.com/20essentials/project-1004',
    web: 'https://stackblitz.com/github/20essentials/project-1004?file=client%2Fscript.js',
    localImage: '/assets/project-1004.avif',
    id: '008'
  },
  {
    title: 'Login Linbet',
    repo: 'https://github.com/20essentials/project-1005',
    web: 'https://stackblitz.com/github/20essentials/project-1005?file=client%2Fscript.js',
    localImage: '/assets/project-1005.avif',
    id: '009'
  },
  {
    title: 'SignUp Split',
    repo: 'https://github.com/20essentials/project-1006',
    web: 'https://stackblitz.com/github/20essentials/project-1006?file=client%2Fscript.js',
    localImage: '/assets/project-1006.avif',
    id: '010'
  },
  {
    title: 'Login Revolt',
    repo: 'https://github.com/20essentials/project-1007',
    web: 'https://stackblitz.com/github/20essentials/project-1007?file=client%2Fscript.js',
    localImage: '/assets/project-1007.avif',
    id: '011'
  },
  {
    title: 'Signup Dilemma',
    repo: 'https://github.com/20essentials/project-1009',
    web: 'https://stackblitz.com/github/20essentials/project-1009?file=client%2Fscript.js',
    localImage: '/assets/project-1009.avif',
    id: '012'
  },
  {
    title: 'Login Ewig',
    repo: 'https://github.com/20essentials/project-1010',
    web: 'https://stackblitz.com/github/20essentials/project-1010?file=client%2Fscript.js',
    localImage: '/assets/project-1010.avif',
    id: '013'
  },
  {
    title: 'Signup Snet',
    repo: 'https://github.com/20essentials/project-1012',
    web: 'https://stackblitz.com/github/20essentials/project-1012?file=index.js',
    localImage: '/assets/project-1012.avif',
    id: '014'
  },
  {
    title: 'Login Trun',
    repo: 'https://github.com/20essentials/project-1013',
    web: 'https://stackblitz.com/github/20essentials/project-1013?file=index.js',
    localImage: '/assets/project-1013.avif',
    id: '015'
  },
  {
    title: 'Signup Zod',
    repo: 'https://github.com/20essentials/project-1015',
    web: 'https://stackblitz.com/github/20essentials/project-1015?file=index.js',
    localImage: '/assets/project-1015.avif',
    id: '016'
  },
  {
    title: 'Login Bentez',
    repo: 'https://github.com/20essentials/project-1018',
    web: 'https://stackblitz.com/github/20essentials/project-1018?file=index.js',
    localImage: '/assets/project-1018.avif',
    id: '017'
  },
  {
    title: 'Signup Trem',
    repo: 'https://github.com/20essentials/project-1025',
    web: 'https://stackblitz.com/github/20essentials/project-1025?file=index.js',
    localImage: '/assets/project-1025.avif',
    id: '018'
  },
  {
    title: 'Login Comsuption',
    repo: 'https://github.com/20essentials/project-1030',
    web: 'https://stackblitz.com/github/20essentials/project-1030?file=index.js',
    localImage: '/assets/project-1030.avif',
    id: '019'
  },
  {
    title: 'Signup Binary',
    repo: 'https://github.com/20essentials/project-1034',
    web: 'https://stackblitz.com/github/20essentials/project-1034?file=index.js',
    localImage: '/assets/project-1034.avif',
    id: '020'
  }
];
---

<article id='smooth-wrapper'>
  <section id='smooth-content'>
    <Hero />
    <section class='am-content'>
      {
        arrayCards.map(({ id, localImage, repo, title, web }, i) => (
          <Fragment>
            <a class='am-card' title={title} href={repo}>
              <img class='am-your-img' src={baseUrl(localImage)} alt={title} />
            </a>
            <aside class='am-card am-card-transparent' title={title}>
              <img src={baseUrl('/assets/transparent.png')} alt={title} />
            </aside>
          </Fragment>
        ))
      }
    </section>
  </section>
</article>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import { ScrollSmoother } from 'gsap/ScrollSmoother';
  gsap.registerPlugin(ScrollSmoother, ScrollTrigger);

  const smooth = ScrollSmoother.create({
    effects: true,
  });

  smooth.effects('img.am-your-img', { speed: 'auto' });
</script>

<style>
  .super-content {
    position: relative;
    height: max-content;
    background-color: orange;
  }

  .am-content {
    min-height: 200vh;
    height: max-content;
    display: grid;
    position: relative;
    padding: 2.2vmax;
    gap: 2.2vmax;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (width <= 1111px) and (orientation: portrait) {
      grid-template-columns: 1fr 1fr;

      .am-card:nth-child(4n + 3) {
        transform: translateX(100%);
      }
    }

    .am-card {
      position: relative;
      overflow: hidden;
      height: 80vh;
      max-height: 30vmax;

      &.am-card-transparent {
        pointer-events: none;
      }

      &:last-child {
        display: none;
      }

      img {
        position: absolute;
        width: 100%;
        height: 120%; /* This is the difference */
        object-fit: cover;
        bottom: 0;
      }
    }
  }
</style>
